@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideUp {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.fade-in {
  animation: slideUp 1.5s ease forwards;
}

.fade-in {
  opacity: 0; 
}

html {
  scroll-behavior: smooth;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dosis-thin {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

#david {
 width: 125px;
 margin-left: 13px;
}

#A {
  width: 27px;
  margin-left: 9px;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the nav stays above other content */
    background-color: white; /* Add background color if needed */
    border-bottom-color:gray;
    border-bottom-width: 5px;
}

#main {
  background-color:rgb(0, 0, 0)
}

#socials {
  margin-top: 70px;
}

#intro {
  margin-top: 130px;
  text-align: center;
  color: rgb(235, 235, 235);
}

#pasfoto {
  padding-top: 60px;
  margin-left: 175px;
}

#abouts {
  color: black;
}

#about {
  margin-top: 80px;
  color: rgb(33, 32, 32);
  width: 750px;
  background-color: rgb(227, 227, 227);
  border-radius: 16px;
  padding: 2rem;

}

.isi {
  margin-top: 1rem;
  text-align: justify;
  text-justify: inter-word;
}


#refs {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  font-size: 25px;
  gap: 20px;
  margin: 30px;      
}

.ref {
  display: inline-block;  
  transition: transform 0.3s ease;
}

.ref:hover {
  transform: scale(1.1);
}

#education {
  margin-top: 70px;
  width: 750px;
  background-color: rgb(227, 227, 227);
  border-radius: 16px;
  padding: 2rem;
}

.education-item {
  margin-top: 1rem;
}

.education-item p:first-child {
  font-size: 1.25rem;
  font-weight: bold;
}

.education-item p:nth-child(2) {
  color: #666;
}

.education-item p:nth-child(3) {
  color: #333;
}

.logo {
  margin-right: 20px;
}
  
.heads {
  color: aliceblue;
}